body {
	background: #b19cd9;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}

h1#kobe-title {
	font-family: Arial black;
	color: yellow;
	text-shadow: 2px 2px black;
	text-align: center;
	font-size: 3em;
}

h2 {
	text-align: center;
	color: yellow;
	text-shadow: 1px 1px black;
}

p {
	background-color: black
	color: yellow;
	text-align: center;
	display: inline-block;

}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: auto;
}
@media screen and (max-width: 500px) {
  section {
    width: 100%;
    position: absolute;

  }
 }
 a:visited {
    color: #00FF00;
}